
<header>
    <div style="display: flex;">
        
        <mat-icon style="font-size: 30px;transform: translateY(25px);padding-right: 19px;padding-left: 25px;">menu</mat-icon>
        <h1>OLIVE</h1>
    </div>
    <div style="display: flex;padding-right: 31px;" >
        
        <mat-icon style="font-size: 27px;transform: translateY(31px);padding-right: 25px;">notifications</mat-icon>

        <img src="./images.jpeg" style="border-radius: 50px;width: 73px;padding: 5px;">
        <div>
            <h2>Gavona</h2>
            <p style="margin: 0;font-size: 14px;transform: translateY(-15px);text-wrap: balance;color: grey;padding-left: 4px;">HR Manager</p>
        </div>
    </div>
    
</header>