header {
    display: flex;
    align-items: flex-start;
    width: 100%;
    background: white;
    border-bottom: 1px solid grey;
    justify-content: space-between;
    
  }
  
  p {
    margin: 0;
    font-size: 0.8rem;
    text-wrap: balance;
  }