<div style="box-shadow: 7px 5px 0px rgba(0, 0, 0, 0.2);height: 744px;margin-right: 17px;border-radius: 14px;">
    <button>
        <mat-icon style="font-size: 26px;">dashboard</mat-icon>
       <p routerLink="/" routerLinkActive="active">Dashboard</p> 
    </button>
    <button>
        <mat-icon style="font-size: 26px;">bar_chart</mat-icon>
        <p routerLink="/info" routerLinkActive="active">Rules engine</p>
    </button>
    <button>
        <mat-icon style="font-size: 26px;">group</mat-icon>
        <p routerLink="/account" routerLinkActive="active">Accounts</p>
    </button>
    <button>
        <mat-icon style="font-size: 26px;">attach_money</mat-icon>
        <p routerLink="/billing" routerLinkActive="active">Billing</p>
    </button>
    <button>
        <mat-icon style="font-size: 26px;">account_circle</mat-icon>
        <p routerLink="/user-management" routerLinkActive="active">User management</p>
    </button>
    <button>
        <mat-icon style="font-size: 26px;">settings</mat-icon>
        <p routerLink="/setting" routerLinkActive="active">Setting</p>
    </button>
</div>
