<div style="display: flex;align-items: baseline;border-bottom: 2px solid rgb(173, 171, 171);">
    <p style="padding: 1rem;display: flex;justify-content: left;max-height: 60vh;overflow: auto;font-weight: bold;">Olive Admin</p>
    <p style="color: grey;">/ Rules Engine</p>
</div>
<div style="display: flex;justify-content: space-between;flex-wrap: wrap;">
<p style="padding: 1rem;display: flex;justify-content: left;max-height: 60vh;overflow: auto;font-weight: bold;font-size: 20px;">Rules Engine</p>
<div style="justify-content: space-between;display: flex;align-items: center;flex-direction: row;">
    <div style="border: 2px solid grey;border-radius: 14px;">
        <img src="./search-521.png" style="width: 28px;padding: 6px;">
    <input type="text" placeholder="Search..." id="search-bar" style="border: none;border-radius: 31px;font-size: 15px;transform: translateY(-13px);width: auto;"/>
    </div>
    <button style="border-radius: 7px;background-color: white;border: 2px solid grey;font-size: 14px;padding: 12px;margin-left: 15px;color: grey;">Filter</button>
</div>
<table id="customers">
    <tr>
      <th>Rule name</th>
      <th>Module</th>
      <th>Country</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
    <tr>
      <td>Leave Types</td>
      <td>Leaves</td>
      <td><img src="png-clipart-flag-of-jordan-national-flag-flags-of-the-world-flag-miscellaneous-angle.png" style="width: 45px;border-radius: 32px;margin: 0;" alt="tabs"></td>
      <td>Ready</td>
      <td>:</td>
    </tr>
    <tr>
      <td>Time tracking</td>
      <td>Attendance</td>
      <td><img src="png-clipart-flag-of-armenia-artsakh-nagorno-karabakh-armenian-institute-of-tourism-others-blue-flag.png" style="width: 45px;border-radius: 32px;margin: 0;" alt="tabs"></td>
      <td>Avtive</td>
      <td>:</td>
    </tr>
    <tr>
      <td>Leave Types</td>
      <td>Leaves</td>
      <td><img src="png-clipart-flag-of-jordan-national-flag-flags-of-the-world-flag-miscellaneous-angle.png" style="width: 45px;border-radius: 32px;margin: 0;" alt="tabs"></td>
      <td>Draft</td>
      <td>:</td>
    </tr>
    <tr>
      <td>Country general</td>
      <td>Attendance</td>
      <td><img src="194-1945687_united-states-of-america-united-states-flag-circle.png" style="width: 45px;border-radius: 32px;margin: 0;" alt="tabs"></td>
      <td>Inactive</td>
      <td>:</td>
    </tr>
    <tr>
      <td>Time tracking</td>
      <td>Attendance</td>
      <td><img src="png-clipart-flag-of-jordan-national-flag-flags-of-the-world-flag-miscellaneous-angle.png" style="width: 45px;border-radius: 32px;margin: 0;" alt="tabs"></td>
      <td>Inactive</td>
      <td>:</td>
    </tr>
    <tr>
      <td>Leave Types</td>
      <td>Leaves</td>
      <td><img src="png-clipart-flag-of-armenia-artsakh-nagorno-karabakh-armenian-institute-of-tourism-others-blue-flag.png" style="width: 45px;border-radius: 32px;margin: 0;" alt="tabs"></td>
      <td>Active</td>
      <td>:</td>
    </tr>
    <tr>
      <td>Leave Types</td>
      <td>Leaves</td>
      <td><img src="png-clipart-flag-of-armenia-artsakh-nagorno-karabakh-armenian-institute-of-tourism-others-blue-flag.png" style="width: 45px;border-radius: 32px;margin: 0;" alt="tabs"></td>
      <td>Active</td>
      <td>:</td>
    <tr>
      <td>Leave Types</td>
      <td>Attendance</td>
      <td><img src="png-clipart-flag-of-armenia-artsakh-nagorno-karabakh-armenian-institute-of-tourism-others-blue-flag.png" style="width: 45px;border-radius: 32px;margin: 0;" alt="tabs"></td>
      <td>Inactive</td>
      <td>:</td>
    </tr>
    <tr>
      <td>Leave Types</td>
      <td>Leaves</td>
      <td><img src="194-1945687_united-states-of-america-united-states-flag-circle.png" style="width: 45px;border-radius: 32px;margin: 0;" alt="tabs"></td>
      <td>Ready</td>
      <td>:</td>
    </tr>
   
  </table>

